/**
 * Typography
 */
body {
  font-family: $font-sans-serif;
  font-size: $font-base;
}

h1 {
  color: $color-primary;
  font-size: $font-base * 2.5;
  font-weight: bold;
}

h2 {
  color: $color-primary;
  font-size: $font-base * 2;
  font-weight: bold;
}

h3 {
  color: $color-text;
  font-size: $font-base * 1.75;
  font-variant: small-caps;
  font-weight: bold;
}

h4 {
  color: $color-text;
  font-size: 1.5em;
  font-weight: bold;
}
