<ul class="sg-colors">
  {{#colors}}
  <li>
    <span class="sg-swatch" style="background: {{ hex-code }}"></span>
    <span class="sg-label">{{ color-name }}</span><br>
    <span class="sg-label">{{ hex-code }}</span>
  </li>
  {{/colors}}
</ul>
